# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.ipa
*.app

# Metro
.metro-health-check*
metro-*.log

# Debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
.env*.local
.env
!.env.example

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Test / coverage
coverage/
*.lcov

# Build artifacts
*.tsbuildinfo

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
